
body{
     background-color: blueviolet;
}

h1{
    background: blueviolet;
}


p {

    text-align: center;
    background: beige;
}
em strong { 
    color:aqua; 
}

#missão{ 
    font-size: 20px;
}
#banner {
    width: 100%;
}
.itens {

 font-style : italic;
}
 
.beneficios { 
    background-color: rgb(49, 184, 8);
}